.static {
  height: 300px;
  position: static;
}

.relative {
  top: 200px;
  height: 300px;
  position: relative;
}

.absolute {
  top: 200px;
  height: 300px;
  position: absolute;
}

.fixed {
  position: fixed;
}

.sticky {
  position: sticky;
}
